<div class="class-info", id="{{ class["name"] }}">
<!-- {{ class }} -->
<{{ level|heading }}>{{ class["name"] }}</{{ level|heading }}>
    <p><i>Inherits From {% for base in class["bases"] if base['name'] != 'object' -%}
        {{ base['name'] }}
        {%- if not loop.last -%},{% endif %}
    {%- endfor -%}</i></p>

  {% if class["docstring"] %}
  {% set docstring = class["docstring"] %}
  <p>{% include "docstring.html" %}</p>
  {% endif %}

  {% if class["functions"] %}
  <{{ level|heading }}>Functions</{{ level|heading }}>
  {% set level = level + 1 %}
  {% for function in class["functions"] %}
    {% include "function.html" %}
  {% endfor %}
  {% set level = level - 1 %}
  {% endif %}
</div>
