<div class="class-info", id="{{ class["name"] }}">
<{{ level|heading }}>{{ class["name"] }}</{{ level|heading }}>
{% if class["docstring"] %}
  {% set docstring = class["docstring"] %}
  <p>{% include "docstring.html" %}</p>

  {% if class["functions"] %}
  <{{ level|heading }}>Functions</{{ level|heading }}>
  {% set level = level + 1 %}
  {% for function in class["functions"] %}
    <div class="push">
    {% include "function.html" %}
    </div>
  {% endfor %}
  {% set level = level - 1 %}
  {% endif %}
{% endif %}
</div>
