{% set level = level + 1 %}
{% if docstring['sections']['header'] %}
{% for content in docstring['sections']['header'] %}
  {{ content['content']|pdoc|replace('\n', '<br>') }}
{% endfor %}
{% endif %}

{% for section, data in docstring['sections'].items() %}
{% if section != 'header' %}
<{{ level|heading }}>{{ section|title }}</{{ level|heading }}>
  {% if data[0]['name'] %}
  <dl>
  {% for entry in data %}
    <dt><code class="descname">{{ entry['name'] }} <em>{% if entry['type'] %}({{ entry['type']|pdoc }}){% endif %}</em></code></dt>
    <dd>{{ entry['content']|pdoc }}</dd>
  {% endfor %}
  </dl>
  {% else %}
    {% for content in data %}
    {{ content['content']|pdoc|replace('\n', '<br>') }}
    {% endfor %}
  {% endif %}
{% endif %}
{% endfor %}
{% set level = level - 1 %}
<!-- {{ docstring }} -->
