<div class="push">
{% set level = level + 1 %}
{% if docstring['sections']['header'] %}
{% for content in docstring['sections']['header'] %}
  {{ content['content']|pdoc|replace('\n', '<br>') }}
{% endfor %}
{% endif %}

{% for section, data in docstring['sections'].items() %}
{% if section != 'header' %}
<{{ level|heading }}>{{ section|title }}</{{ level|heading }}>
  {% if data[0]['name'] %}
  <ul>
  {% for entry in data %}
  <li>{{ entry['name'] }} {% if entry['type'] %}({{ entry['type']|pdoc }}){% endif %} - {{ entry['content']|pdoc }}</li>
  {% endfor %}
  </ul>
  {% else %}
    {% for content in data %}
    {{ content['content']|pdoc|replace('\n', '<br>') }}
    {% endfor %}
  {% endif %}
{% endif %}
{% endfor %}
{% set level = level - 1 %}
<!-- {{ docstring }} -->
</div>
